<!DOCTYPE html>
<html>
  <head>
    <title>CanCanCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= link_to 'logout', destroy_user_session_path %>
  <%= link_to 'foo', foos_path %>
  <%= link_to 'bar', bars_path %>
  <%= link_to 'invite', invites_path %>
  <%= link_to 'roles', roles_path %>
  <%= link_to 'user roles', user_roles_path %>
    <%= yield %>
  </body>
</html>
